# Core
requests
requests-cache
python-dotenv
click
tenacity

# Scraping & OPSEC
playwright
fake-useragent
urllib3

# OSINT Libraries
python-whois
dnspython
PyGithub
googlesearch-python

# Analysis
rapidfuzz
SQLAlchemy

# Reporting
reportlab
Jinja2
markdown

# Data handling
pandas

# Web app (Django)
django>=4.2,<5.0
djangorestframework
django-cors-headers
django-allauth

# Deployment & Production
gunicorn
whitenoise
dj-database-url
psycopg2-binary
yfinance
cloudinary
django-cloudinary-storage